/* Card CSS */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #e6e6e6;
    align-self: stretch;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card h2 {
    text-align: center;
}

.card-container {
    padding: 2px 16px;
    overflow: scroll;
    flex: 1 auto;
}

.card-container a {
    color: #f8f8f8;
    font-style: normal;
}

.card-container ol {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    height: auto;
    padding: 5px;
    line-height: 1.5em;
    margin-bottom: 5px;
}
.card-container li {
    background: -webkit-gradient(linear,right top, left top,from(#51291E),to(#380c00));
    box-shadow: -3px 0 16px -11px #000;
    border-radius: 30px;
    margin-bottom: 8px;
    padding: 8px;
}

.card-container li:hover {
    background: #51291E;
    background: -webkit-gradient(linear,right top,left top,from(#51291E),to(#967065));
    background: linear-gradient(270deg,#51291E,#967065);
}

.card-container h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: #51291E;
    padding: 5px;
    -webkit-font-smoothing: antialiased;
}